/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-su-primary: #002f5f;
  --color-su-primary-darker: #00264c;
  --color-su-secondary-light: #c4e8ed;
  --color-text-su-inverted: #fff;
  --color-su-primary-darker-trans-80: rgba(0, 38, 76, 0.8);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height:50px;
}

#top-spacer {
  width: 100%;
  height: 50px;
}

.h-100 {
  height: 100%
}

.d-flex {
  display: flex !important;
}

.v-align {
  align-items: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.primary-header {
  background-color: var(--color-su-primary);
  color: var(--color-text-su-inverted);
  width: 100%;
  font-family: sans-serif;
}

.container .su-logo-primary {
  margin-right: 2.1rem;
  height: 45px;
  filter: invert(100%) brightness(100%);
}

.banner-inner {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0rem;
  max-width:100%;
}

.primary-footer {
  width:100%;
  background-color: var(--color-su-primary-darker);
  color: var(--color-text-su-inverted);
  padding-bottom: 0.75rem;
  padding-top: 1rem;
}

.primary-footer .center-text {
  text-align: center;
  font-size: small;
  font-family: sans-serif;
}

.banner-inner .mainpic{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.kolumn {
  padding: 2rem;
  margin:8rem;
  position:absolute;
  min-height: 1px;
  z-index:800;
  display: block;
  bottom:40px;
  left:30px;
  wrap-option:wrap;
}

.banner-text {
  background: var(--color-su-primary-darker-trans-80);
  color: var(--color-su-secondary-light);
}
